<div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center justify-center">
        <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">Open drawer</label>
        <router-outlet></router-outlet>
    </div>
    <div class="drawer-side">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu p-4 w-full min-h-full max-h-screen overflow-y-auto bg-base-200 text-base-content">
            <li class="my-4">
                <h3 class="text-2xl">
                    @if (this.user) {
                    Welcome !!!! {{ this.user.username }}!
                    }
                </h3>
            </li>
            <div class="divider m-2"></div>
            <li>
                <a [routerLink]="['/app/list']" [routerLinkActive]="['active']">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                    </svg>
                    Employee list
                </a>
            </li>
            <!-- Add buttons for edit and delete here -->
            <li *ngFor="let employee of employees" >
                <div class="flex justify-left items-center w-full">
                    <div>{{ employee.first_name }} {{ employee.last_name }}</div>
                    <div>Salary: {{ employee.salary }}</div>
                    <div class="flex space-x-2">
                        <!-- Edit button -->
                        <button class="btn btn-sm btn-primary" (click)="onEdit(employee._id)">Edit</button>
                        <!-- Delete button -->
                        <button class="btn btn-sm btn-error" (click)="onDelete(employee._id)">Delete</button>
                    </div>
                </div>
                scroll
            </li>
            
            <li class="mt-auto">
                <a (click)="onLogout()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
                    </svg>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</div>
